.item-static {
  width: 100%;
  width: -moz-available;
  width: -webkit-stretch;
  width: stretch;
  display: flex;
  align-items: center;
  border: 1px #dbdbdb solid;
  padding-left: 10px;
}

.item-checked {
  text-decoration: line-through;
}